.cards {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 2em auto;
  margin-top: 8em;
}

.card {
  width: 30%;
  padding: 1em;
  margin-bottom: 2em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-video {
  width: 100%;
  height: auto;
}

.card-heading {
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
}

.card-tag {
  background: #eee;
  padding: 0.2em 0.5em;
  border-radius: 2px;
  margin-right: 1em;
  letter-spacing: 0.04em;
  margin-top: 0.7em;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 1em 10em;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  opacity: 1;
  background: white;
  z-index: 100;
}

.navbar-logo {
  /* height: 100%; */
  font-weight: 700;
}

.logo-right {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: line-through;
  color: #f83730;
}

.navbar-profile {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f83730;
  border-radius: 50%;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.navbar-form {
  width: 40%;
}

.navbar-form-input {
  width: 100%;
  height: 40px;
  padding: 0 1em;
  font-size: 1em;
  color: black;
  border: 0.5px solid #c6c6c6;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
  text-align: center;
}

.navbar-form-input:focus {
  outline: none;
  border: 0.5px solid #989898;
}

@media(max-width:1025px) {
  .cards {
    width: 95%;
  }

  .card {
    width: 31%;
  }
}

@media(max-width:769px) {
  .cards {
    width: 100%;
  }

  .card {
    width: 48%;
  }
}

@media(max-width:426px) {
  .cards {
    width: 100%;
    margin-top: 10em;
  }

  .card {
    width: 90%;
  }

  .navbar {
    flex-direction: column;
    padding: 1em 0;
    height: auto;
  }

  .navbar-form {
    width: 80%;
    margin-top: 0.5em;
  }

  .navbar-profile {
    display: none;
  }
}